<Router AppAssembly="@typeof(App).Assembly"
        AdditionalAssemblies="new[] { typeof(MainLayout).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>.NET Podcasts - Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="contentWrapper">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
